.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

a:hover {
    color: gainsboro;
}

 a.nav-link.active {
    color: gray;
}

img {
    max-height: 50px;
    border: 2px solid white;
    border-radius:  25px;
    display: inline;
    width: 50px;
    margin-right: 6px;
}